@import "tailwindcss";

:root {
    --background: #171717;
    --foreground: #eff1f3;
}

@theme {
    --font-family-sans: var(--font-ibm-plex-sans-kr);
    --font-family-montserrat: var(--font-montserrat);
    --font-family-ibm-plex-sans-kr: var(--font-ibm-plex-sans-kr);

    --color-primary: #171717;
    --color-secondary: #18181d;
    --color-complementary: #eff1f3;
    --color-accent: #202029;
}

body {
    background: var(--background);
    color: var(--foreground);
}

@keyframes slide-in-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out-left {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.animate-slide-in {
    animation: slide-in-right 0.6s ease-out;
}

.animate-slide-out {
    animation: slide-out-left 0.7s ease-out;
}
